<head>
	<title>Bearded Dragons Canada</title>
</head>

<body>
</body>

<template name="Home">
		{{> Header}}  <div class="masthead">
		<h1>Bearded Dragons Canada</h1>
		<p g="centered md-container">We are a private breeder of quality Bearded Dragons specializing on High End morphs and colours. Pick one up today!</p>
	</div>
	
	<h2 class="text-center" g="md-padding-tb">{{total_dragons}} Dragons in stock</h2>
	<section g="lg-container centered">
		{{#if currentUser}}
		{{#each dragons}}
		{{> AdminCards}}
		{{/each}}
		{{else}}
		{{#each dragons}}
		<div class="card" g="4" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({{image}}); background-size: cover;" onclick="window.location = '{{link}}'">
			<h2>{{name}}</h2>
			<h3>${{price}}</h3>
		</div>
		{{/each}}
		{{/if}}
	</section>
	{{#if currentUser}}
	{{> AddDragon}}
	{{else}}
	{{> Faq}}
	{{/if}}

	
	{{> Footer}}
</template>

