<template name="AddDragon">
	<form id="addDragon" g="lg-container centered lg-margin-t vertical">
		<input type="text" placeholder="Name of dragon" name="name">
		<input type="text" placeholder="Price ($)" name="price">
		<input type="text" placeholder="Direct link to image" name="image">
		<input type="text" placeholder="Link to Facebook post (or sends email by default)" name="link">
		<button class="success">List dragon</button>
	</form>
</template>