<template name="Admin">
	<div class="admin-container" layout>

		<form id="login" g="centered">
			<input type="text" placeholder="Your email" required>
			<input type="password" placeholder="Your password" required>
			<button class="primary">Sign in</button>
		</form>
	</div>
</template>