<template name="AdminCards">
	<div class="admin card" g="4" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ),url({{image}}); background-size: cover;">
		<h2>{{name}}</h2>
		<h3>${{price}}</h3>
	</div>
</template>