<template name="Faq">
	<div g="centered lg-container xlg-margin-tb">
		
		<h2 g="md-margin-t sm-margin-b">Frequently Asked Questions</h2>
		<hr g="md-margin-b">
		<section>
			<div class="question" g="6">
				<h3>How do I order?</h3>
				<p>Once you've found a dragon you like, contact us to schedule a pickup the next day (or the same day).</p>
			</div>
			<div class="question" g="6">
				<h3>Where to I pickup my dragon?</h3>
				<p>Our address is 1K3 3W2 Santa Avenue. In most cases we kindly ask to send us a quick message before coming in for pickup.</p>
			</div>
			<div class="question" g="6">
				<h3>I found a cheaper dragon elsewhere</h3>
				<p>In most cases, we will match the price. Contact us for more information.</p>
			</div>
			<div class="question" g="6">
				<h3>Do you sell dragon supplies?</h3>
				<p>Yup. We sell tanks, food (crickets and worms), and tank decor.</p>
			</div>
		</section>
	</div>
	
</template>
