<template name="Header">
	<header>
		<ul g="centered xlg-container">
			<li><a href="/" class="active">Bearded Dragons Canada</a></li>
			<li>
				<a href="https://www.facebook.com/DungeonBeardedDragonsAndOtherCreatures"><img src="http://static1.squarespace.com/static/5448f618e4b0af2717dc812f/5512a444e4b0cd183ba279de/5512c3d2e4b0a07e16770b23/1427293139578/facebook-logo-f-sqaure.png" style="height: 15px"> Message us on Facebook</a></li>
				<li><a href=""></a></li>
			</ul>
		</header>
	</template>

	<template name="Footer">
		<footer g="centered lg-container lg-padding-tb">
			<ul>
				<li>Made by <a href="//fang.af">Andy Fang</a></li>
				<li>{{> loginButtons}}</li>
			</ul>
		</footer>
	</template>

	